<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="askar_uniffi.test">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For Android 10 (API level 29) and above -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

</manifest>